* {
  box-sizing: border-box;
}

#dogs {
  padding: 150px;
}

/* css */
html {
  scroll-behavior: smooth;
}

#dogs .dog {
  display: flex;
  background-color: #f7f7f7;
  text-decoration: none;
  color: #000;
}

#dogs .dog.list-item {
  cursor: pointer;
}

#dogs .dog.titles p {
  font-weight: bold;

}

#dogs .dog.list-item:hover {
  background-color: #eee;
}

#dogs .dog p {
  flex-basis: 20%;
  border: 1px solid #eee;
  padding: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#dog-details {
  padding: 150px;
}

#animal-form .input-wrap {
  margin-bottom: 25px;
}

#animal-form .input-wrap input[type="text"] {
  padding: 10px 20px;
  width: 300px;
}

#animal-form .input-wrap.auto-comp {
  position: relative;
}

#animal-form .input-wrap.auto-comp ul {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 2;
  border: 1px solid #000;
  display: none;
}

#animal-form .input-wrap.auto-comp ul.show {
  display: block;
}

#animal-form .input-wrap.auto-comp ul li {
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#animal-form .input-wrap .react-datepicker__input-container {
  margin-left: 20px;
}